<% if @users_count > 0 %>
    <table>
        <tr>
            <th><%= order_by :first_name %></th>
            <th><%= order_by :last_name %></th>
            <th><%= order_by :email %></th>
            <th><%= order_by :born_on %></th>
        </tr>
        <% @users.each do |user| %>
            <tr>
                <td><%= user.first_name %></td>
                <td><%= user.last_name %></td>
                <td><%= user.email %></td>
                <td><%= user.born_on %></td>
                <td><%= link_to "Edit", edit_user_path(user) %></td>
                <td><%= link_to "Delete", user_path(user), :method => :delete, :confirm => "Are you sure?" %></td>
            </tr>
        <% end %>
    </table>

    Page: <%= page %><br />
    Per page: <%= per_page %>
<% else %>
No users
<% end %>