<% form_for @search do |f| %>
 <% f.fields_for @search.conditions do |users| %>
    <%= users.text_field :first_name_contains %>
    <%= users.calendar_date_select :created_after %> <!-- # nice rails plugin for replacing date_select -->
    <% users.fields_for users.object.orders do |orders| %>
        <%= orders.select :total_gt, (1..100) %>
    <%= f.submit "Search" %>

<table>
    <tr>
        <th><%= order_by :first_name %></th>
        <th><%= order_by :last_name %></th>
        <th><%= order_by :email %></th>
    <% @users.each do |user| %>
        <tr>
            <td><%= user.first_name %></td>
            %td= user.last_name
            %td= user.email

Per page:
= per_page
Page:
= page
